@page
@model Imshop.Views.Home.IndexModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Shop_style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <img class="logo" src="Resources/logo.png" alt="" />
    <section>
      <section class="logo_up">
        <section class="left-buttons">
          <a class="button" href="https://www.youtube.com/watch?v=TxYU752qlf0">
            <p>Каталог</p>
          </a>
          <a class="button" href="https://www.youtube.com/watch?v=TxYU752qlf0">
            <p>О нас</p>
          </a>
        </section>
      </section>
      <div class="seach">
        <input type="text" placeholder="Искать здесь..." />
        <button class="seach" type="submit">
          <img src="Resources/3844432-magnifier-search-zoom_110300.svg" />
        </button>
      </div>
    </section>
  </body>
</html>
